In [419]:
import pandas as pd

In [420]:
file_path = '../Enunciado/DatosPS.csv'
df = pd.read_csv(file_path)
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Dia Semana,Mes,Momento Dia
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche

In [421]:
df.shape

(8760, 16)

In [422]:
df.head()

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Dia Semana,Mes,Momento Dia
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada

In [423]:
df.describe()

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000

In [424]:
duplicates = len(df[df.duplicated()])
print(f'Number of Duplicate Entries: {duplicates}')

Number of Duplicate Entries: 0

In [425]:
# número de valores perdidos
missing_values = df.isnull().sum().sum()
print(f'Number of Missing Values: {missing_values}')

Number of Missing Values: 0

In [426]:
types = df.dtypes.value_counts()
print('Data Types and Frequency in Dataset:')
print(types)

Data Types and Frequency in Dataset:
float64    6
object     6
int64      4
Name: count, dtype: int64

In [427]:
catcols = df.select_dtypes(exclude = ['int64','float64']).columns
intcols = df.select_dtypes(include = ['int64']).columns
floatcols = df.select_dtypes(include = ['float64']).columns
# codificación
df = pd.get_dummies(df, columns = catcols,dtype=int,drop_first=True)
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons_Spring,Seasons_Summer,Seasons_Winter,Holiday_No Holiday,Functioning Day_Yes,Dia Semana_jueves,Dia Semana_lunes,Dia Semana_martes,Dia Semana_miércoles,Dia Semana_sábado,Dia Semana_viernes,Mes_agosto,Mes_diciembre,Mes_enero,Mes_febrero,Mes_julio,Mes_junio,Mes_marzo,Mes_mayo,Mes_noviembre,Mes_octubre,Mes_septiembre,Momento Dia_Mañana,Momento Dia_Noche,Momento Dia_Tarde
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [428]:
print('New Number of Features: %d'%(df.shape[1]))

New Number of Features: 35

In [429]:
pd.set_option('display.max_columns', None)  # Para mostrar todas las columnas
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons_Spring,Seasons_Summer,Seasons_Winter,Holiday_No Holiday,Functioning Day_Yes,Dia Semana_jueves,Dia Semana_lunes,Dia Semana_martes,Dia Semana_miércoles,Dia Semana_sábado,Dia Semana_viernes,Mes_agosto,Mes_diciembre,Mes_enero,Mes_febrero,Mes_julio,Mes_junio,Mes_marzo,Mes_mayo,Mes_noviembre,Mes_octubre,Mes_septiembre,Momento Dia_Mañana,Momento Dia_Noche,Momento Dia_Tarde
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [430]:
types = df.dtypes.value_counts()
print('Data Types and Frequency in Dataset:')
print(types)

Data Types and Frequency in Dataset:
int64      29
float64     6
Name: count, dtype: int64

In [431]:
# Function to remove outliers based on the IQR method
def remove_outliers(df, columns):
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
    
        df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

In [432]:
# Columns to check for outliers
columns_to_check = [
    'Rented Bike Count', 
    'Temperature(C)', 
    'Humidity(%)', 
    'Wind speed (m/s)', 
    'Visibility (10m)', 
    'Dew point temperature(C)', 
    'Solar Radiation (MJ/m2)', 
    'Rainfall(mm)', 
    'Snowfall (cm)'
]

In [433]:

# Remove outliers from the dataset
cleaned_data = remove_outliers(df, columns_to_check)

In [434]:
X= cleaned_data.drop(columns='Rented Bike Count')

In [435]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
import numpy as np

# Separar variables predictoras (X) y la variable objetivo (y)
y = cleaned_data['Rented Bike Count']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=1)

# Crear y entrenar el modelo
model = LinearRegression()
model.fit(X_train, y_train)

# Realizar predicciones
y_pred = model.predict(X_test)

In [436]:
import numpy as np

# mean absolute error
MAE = metrics.mean_absolute_error(y_test, y_pred)

# mean squared error
MSE = metrics.mean_squared_error(y_test, y_pred)

# root mean squared error
RMSE = np.sqrt(MSE)

In [437]:
print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  283.94957992792195
MSE:  133208.77033838155
RMSE:  364.97776690968664

Modelos Reducidos

In [438]:
features_a = cleaned_data.drop(columns=['Rented Bike Count',"Dew point temperature(C)","Snowfall (cm)","Humidity(%)"])

X = cleaned_data[features_a.columns]
y = cleaned_data['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  288.1553360980709
MSE:  136368.30987712016
RMSE:  369.2808008509516

In [439]:
from sklearn.model_selection import cross_val_score

# usar MSE - error cuadrático medio
scores = cross_val_score(model, X, y, cv=10, scoring='neg_mean_squared_error')
mse_scores = - scores

In [440]:
scores = cross_val_score(model, X, y, cv=10, scoring='neg_mean_absolute_error')

mae_scores = -scores

#print("MAE scores for each fold:", mae_scores)
print("Mean MAE:", np.mean(mae_scores))

Mean MAE: 304.92960719209015

In [441]:
rmse_scores = np.sqrt(mse_scores)

In [442]:
print(rmse_scores.mean())

382.4887241579651

In [443]:
print(mse_scores.mean())

153333.32940474016

In [444]:
import statsmodels.api as sm

y = cleaned_data['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# agregar constante explíticamente
X_train = sm.add_constant(X_train)

# regresión usando mínimos cuadrados ordinarios (ordinary least squares - OLS)
md = sm.OLS(y_train, X_train).fit()

# resumen de resultados
print(md.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Rented Bike Count   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.634
Method:                 Least Squares   F-statistic:                     330.0
Date:                Fri, 06 Sep 2024   Prob (F-statistic):               0.00
Time:                        18:36:06   Log-Likelihood:                -37572.
No. Observations:                5137   AIC:                         7.520e+04
Df Residuals:                    5109   BIC:                         7.538e+04
Df Model:                          27
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                   -1114.2488     41.214    -27.036      0.000   -1195.046   -1033.452
Hour                      -25.5986      3.064     -8.354      0.000     -31.606     -19.591
Temperature(C)             30.6237      1.440     21.263      0.000      27.800      33.447
Wind speed (m/s)           24.3676      6.358      3.833      0.000      11.904      36.831
Visibility (10m)            0.1330      0.010     13.036      0.000       0.113       0.153
Solar Radiation (MJ/m2)    28.5253     12.959      2.201      0.028       3.119      53.931
Rainfall(mm)            -7.433e-13   2.51e-14    -29.664      0.000   -7.92e-13   -6.94e-13
Seasons_Spring           -217.5825     18.369    -11.845      0.000    -253.594    -181.571
Seasons_Summer           -270.4350     19.718    -13.715      0.000    -309.091    -231.779
Seasons_Winter           -241.3621     16.372    -14.742      0.000    -273.459    -209.266
Holiday_No Holiday        161.8398     24.052      6.729      0.000     114.688     208.992
Functioning Day_Yes       983.8418     28.658     34.330      0.000     927.659    1040.025
Dia Semana_jueves          93.5541     19.039      4.914      0.000      56.229     130.879
Dia Semana_lunes           95.7357     19.054      5.024      0.000      58.382     133.090
Dia Semana_martes         148.5544     19.051      7.798      0.000     111.207     185.902
Dia Semana_miércoles      110.0293     19.357      5.684      0.000      72.081     147.977
Dia Semana_sábado          74.6656     19.085      3.912      0.000      37.250     112.081
Dia Semana_viernes        158.7148     18.832      8.428      0.000     121.796     195.633
Mes_agosto               -301.3568     18.428    -16.354      0.000    -337.483    -265.231
Mes_diciembre             -41.4381     15.435     -2.685      0.007     -71.697     -11.180
Mes_enero                 -81.7086     15.701     -5.204      0.000    -112.489     -50.929
Mes_febrero              -118.2155     15.341     -7.706      0.000    -148.291     -88.140
Mes_julio                -174.9433     17.288    -10.119      0.000    -208.835    -141.051
Mes_junio                 205.8651     15.969     12.892      0.000     174.559     237.171
Mes_marzo                -110.6664     26.116     -4.238      0.000    -161.864     -59.468
Mes_mayo                   99.1059     27.562      3.596      0.000      45.073     153.139
Mes_noviembre             -85.8435     16.889     -5.083      0.000    -118.954     -52.733
Mes_octubre               -45.3016     16.510     -2.744      0.006     -77.669     -12.934
Mes_septiembre           -253.7242     23.286    -10.896      0.000    -299.374    -208.075
Momento Dia_Mañana        479.4287     23.108     20.747      0.000     434.126     524.731
Momento Dia_Noche        1095.5844     57.773     18.964      0.000     982.324    1208.845
Momento Dia_Tarde         657.0179     42.054     15.623      0.000     574.574     739.462
==============================================================================
Omnibus:                      334.166   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              443.563
Skew:                           0.589   Prob(JB):                     4.80e-97
Kurtosis:                       3.828   Cond. No.                     1.91e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.48e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.