In [31]:
import pandas as pd

In [32]:
file_path = '../Enunciado/DatosPS.csv'
df = pd.read_csv(file_path)
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Dia Semana,Mes,Momento Dia
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche

In [33]:
df.shape

(8760, 16)

In [34]:
df.head()

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Dia Semana,Mes,Momento Dia
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada

In [35]:
df.describe()

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000

In [36]:
duplicates = len(df[df.duplicated()])
print(f'Number of Duplicate Entries: {duplicates}')

Number of Duplicate Entries: 0

In [37]:
# número de valores perdidos
missing_values = df.isnull().sum().sum()
print(f'Number of Missing Values: {missing_values}')

Number of Missing Values: 0

In [38]:
types = df.dtypes.value_counts()
print('Data Types and Frequency in Dataset:')
print(types)

Data Types and Frequency in Dataset:
float64    6
object     6
int64      4
Name: count, dtype: int64

In [39]:
catcols = df.select_dtypes(exclude = ['int64','float64']).columns
intcols = df.select_dtypes(include = ['int64']).columns
floatcols = df.select_dtypes(include = ['float64']).columns
# codificación
df = pd.get_dummies(df, columns = catcols,dtype=int,drop_first=True)
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons_Spring,Seasons_Summer,Seasons_Winter,Holiday_No Holiday,Functioning Day_Yes,Dia Semana_jueves,Dia Semana_lunes,Dia Semana_martes,Dia Semana_miércoles,Dia Semana_sábado,Dia Semana_viernes,Mes_agosto,Mes_diciembre,Mes_enero,Mes_febrero,Mes_julio,Mes_junio,Mes_marzo,Mes_mayo,Mes_noviembre,Mes_octubre,Mes_septiembre,Momento Dia_Mañana,Momento Dia_Noche,Momento Dia_Tarde
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [40]:
print('New Number of Features: %d'%(df.shape[1]))

New Number of Features: 35

In [41]:
pd.set_option('display.max_columns', None)  # Para mostrar todas las columnas
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons_Spring,Seasons_Summer,Seasons_Winter,Holiday_No Holiday,Functioning Day_Yes,Dia Semana_jueves,Dia Semana_lunes,Dia Semana_martes,Dia Semana_miércoles,Dia Semana_sábado,Dia Semana_viernes,Mes_agosto,Mes_diciembre,Mes_enero,Mes_febrero,Mes_julio,Mes_junio,Mes_marzo,Mes_mayo,Mes_noviembre,Mes_octubre,Mes_septiembre,Momento Dia_Mañana,Momento Dia_Noche,Momento Dia_Tarde
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [42]:
types = df.dtypes.value_counts()
print('Data Types and Frequency in Dataset:')
print(types)

Data Types and Frequency in Dataset:
int64      29
float64     6
Name: count, dtype: int64

In [43]:
X= df.drop(columns='Rented Bike Count')

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
import numpy as np

# Separar variables predictoras (X) y la variable objetivo (y)
y = df['Rented Bike Count']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo
model = LinearRegression()
model.fit(X_train, y_train)

# Realizar predicciones
y_pred = model.predict(X_test)

In [45]:
import numpy as np

# mean absolute error
MAE = metrics.mean_absolute_error(y_test, y_pred)

# mean squared error
MSE = metrics.mean_squared_error(y_test, y_pred)

# root mean squared error
RMSE = np.sqrt(MSE)

In [46]:
print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  301.9635144409124
MSE:  157361.03941644565
RMSE:  396.6875841470787

Modelos Reducidos

In [47]:
features_b = df.drop(columns=['Rented Bike Count',"Dew point temperature(C)","Solar Radiation (MJ/m2)","Holiday_No Holiday"])

X = df[features_b.columns]
y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  296.9857755225018
MSE:  153340.70975634336
RMSE:  391.58742287814016

In [48]:
features_b = df.drop(columns=['Rented Bike Count',"Rainfall(mm)","Snowfall (cm)","Visibility (10m)"])

X = df[features_b.columns]
y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  299.5892187447907
MSE:  158177.68089657568
RMSE:  397.7155778902502

In [49]:
features_c = df.drop(columns=['Rented Bike Count',"Hour","Temperature(C)","Snowfall (cm)"])

X = df[features_c.columns]
y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  297.1402435021759
MSE:  156350.25058541232
RMSE:  395.41149526210324

In [50]:
features_d = df.drop(columns=['Rented Bike Count',"Humidity(%)","Wind speed (m/s)","Functioning Day_Yes"])

X = df[features_d.columns]
y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  316.4057925761806
MSE:  182975.5069579738
RMSE:  427.7563640180866

In [51]:
features_a = df.drop(columns=['Rented Bike Count',"Dew point temperature(C)","Snowfall (cm)"])

X = df[features_a.columns]
y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  294.1255255584722
MSE:  151271.53164350134
RMSE:  388.9364107968054

In [52]:
from sklearn.model_selection import cross_val_score

# usar MSE - error cuadrático medio
scores = cross_val_score(model, X, y, cv=1000, scoring='neg_mean_squared_error')
mse_scores = - scores

In [53]:
scores = cross_val_score(model, X, y, cv=1000, scoring='neg_mean_absolute_error')

mae_scores = -scores

#print("MAE scores for each fold:", mae_scores)
print("Mean MAE:", np.mean(mae_scores))

Mean MAE: 300.241426893056

In [54]:
rmse_scores = np.sqrt(mse_scores)

In [55]:
print(rmse_scores.mean())

361.47634148360066

In [56]:
print(mse_scores.mean())

157003.27241418138

In [57]:
import statsmodels.api as sm

y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# agregar constante explíticamente
X_train = sm.add_constant(X_train)

# regresión usando mínimos cuadrados ordinarios (ordinary least squares - OLS)
md = sm.OLS(y_train, X_train).fit()

# resumen de resultados
print(md.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Rented Bike Count   R-squared:                       0.631
Model:                            OLS   Adj. R-squared:                  0.629
Method:                 Least Squares   F-statistic:                     385.7
Date:                Fri, 06 Sep 2024   Prob (F-statistic):               0.00
Time:                        16:23:18   Log-Likelihood:                -48562.
No. Observations:                6570   AIC:                         9.718e+04
Df Residuals:                    6540   BIC:                         9.739e+04
Df Model:                          29
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                    -519.1508     51.607    -10.060      0.000    -620.317    -417.984
Hour                      -33.2291      2.851    -11.657      0.000     -38.817     -27.641
Temperature(C)             31.0865      1.311     23.720      0.000      28.517      33.656
Humidity(%)                -7.5357      0.413    -18.253      0.000      -8.345      -6.726
Wind speed (m/s)           20.0417      5.450      3.678      0.000       9.359      30.725
Visibility (10m)            0.0515      0.012      4.215      0.000       0.028       0.075
Solar Radiation (MJ/m2)   -54.0248      9.897     -5.459      0.000     -73.425     -34.624
Rainfall(mm)              -54.8927      4.297    -12.774      0.000     -63.316     -46.469
Seasons_Spring           -158.6190     17.673     -8.975      0.000    -193.263    -123.975
Seasons_Summer           -161.6336     20.045     -8.064      0.000    -200.928    -122.339
Seasons_Winter           -203.9030     15.713    -12.977      0.000    -234.705    -173.101
Holiday_No Holiday        149.0102     23.014      6.475      0.000     103.895     194.126
Functioning Day_Yes       950.6409     28.410     33.462      0.000     894.948    1006.333
Dia Semana_jueves          83.9170     18.374      4.567      0.000      47.898     119.936
Dia Semana_lunes           76.3742     18.214      4.193      0.000      40.668     112.080
Dia Semana_martes         108.1341     18.515      5.840      0.000      71.839     144.430
Dia Semana_miércoles      126.8639     18.248      6.952      0.000      91.093     162.635
Dia Semana_sábado          61.1942     18.428      3.321      0.001      25.069      97.319
Dia Semana_viernes        126.9637     18.138      7.000      0.000      91.407     162.520
Mes_agosto               -304.3961     17.223    -17.674      0.000    -338.158    -270.634
Mes_diciembre              -0.9971     14.446     -0.069      0.945     -29.316      27.322
Mes_enero                 -70.2452     15.293     -4.593      0.000    -100.224     -40.266
Mes_febrero              -132.6607     14.927     -8.887      0.000    -161.923    -103.398
Mes_julio                -122.8986     16.222     -7.576      0.000    -154.700     -91.097
Mes_junio                 265.6610     14.495     18.327      0.000     237.245     294.077
Mes_marzo                 -53.5722     24.798     -2.160      0.031    -102.184      -4.960
Mes_mayo                  151.8341     25.265      6.010      0.000     102.306     201.362
Mes_noviembre               2.6092     17.088      0.153      0.879     -30.889      36.107
Mes_octubre                76.0774     18.368      4.142      0.000      40.069     112.086
Mes_septiembre            -73.6818     24.562     -3.000      0.003    -121.832     -25.532
Momento Dia_Mañana        492.4773     22.428     21.958      0.000     448.512     536.443
Momento Dia_Noche        1199.5221     53.368     22.476      0.000    1094.903    1304.141
Momento Dia_Tarde         652.8155     38.869     16.795      0.000     576.620     729.011
==============================================================================
Omnibus:                      576.647   Durbin-Watson:                   2.041
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              888.823
Skew:                           0.671   Prob(JB):                    9.87e-194
Kurtosis:                       4.201   Cond. No.                     1.97e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.11e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.