In [121]:
import pandas as pd

In [122]:
file_path = '../Enunciado/DatosPS.csv'
df = pd.read_csv(file_path)
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Dia Semana,Mes,Momento Dia
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes,viernes,noviembre,Noche

In [123]:
df.shape

(8760, 16)

In [124]:
df.head()

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Dia Semana,Mes,Momento Dia
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,viernes,diciembre,Madrugada

In [125]:
df.describe()

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000

In [126]:
duplicates = len(df[df.duplicated()])
print(f'Number of Duplicate Entries: {duplicates}')

Number of Duplicate Entries: 0

In [127]:
# número de valores perdidos
missing_values = df.isnull().sum().sum()
print(f'Number of Missing Values: {missing_values}')

Number of Missing Values: 0

In [128]:
types = df.dtypes.value_counts()
print('Data Types and Frequency in Dataset:')
print(types)

Data Types and Frequency in Dataset:
float64    6
object     6
int64      4
Name: count, dtype: int64

In [129]:
catcols = df.select_dtypes(exclude = ['int64','float64']).columns
intcols = df.select_dtypes(include = ['int64']).columns
floatcols = df.select_dtypes(include = ['float64']).columns
# codificación
df = pd.get_dummies(df, columns = catcols,dtype=int,drop_first=True)
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons_Spring,Seasons_Summer,Seasons_Winter,Holiday_No Holiday,Functioning Day_Yes,Dia Semana_jueves,Dia Semana_lunes,Dia Semana_martes,Dia Semana_miércoles,Dia Semana_sábado,Dia Semana_viernes,Mes_agosto,Mes_diciembre,Mes_enero,Mes_febrero,Mes_julio,Mes_junio,Mes_marzo,Mes_mayo,Mes_noviembre,Mes_octubre,Mes_septiembre,Momento Dia_Mañana,Momento Dia_Noche,Momento Dia_Tarde
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [130]:
print('New Number of Features: %d'%(df.shape[1]))

New Number of Features: 35

In [131]:
pd.set_option('display.max_columns', None)  # Para mostrar todas las columnas
df

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons_Spring,Seasons_Summer,Seasons_Winter,Holiday_No Holiday,Functioning Day_Yes,Dia Semana_jueves,Dia Semana_lunes,Dia Semana_martes,Dia Semana_miércoles,Dia Semana_sábado,Dia Semana_viernes,Mes_agosto,Mes_diciembre,Mes_enero,Mes_febrero,Mes_julio,Mes_junio,Mes_marzo,Mes_mayo,Mes_noviembre,Mes_octubre,Mes_septiembre,Momento Dia_Mañana,Momento Dia_Noche,Momento Dia_Tarde
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,0,1,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [132]:
types = df.dtypes.value_counts()
print('Data Types and Frequency in Dataset:')
print(types)

Data Types and Frequency in Dataset:
int64      29
float64     6
Name: count, dtype: int64

In [133]:
X= df.drop(columns='Rented Bike Count')

In [134]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
import numpy as np

# Separar variables predictoras (X) y la variable objetivo (y)
y = df['Rented Bike Count']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear y entrenar el modelo
model = LinearRegression()
model.fit(X_train, y_train)

# Realizar predicciones
y_pred = model.predict(X_test)

In [135]:
import numpy as np

# mean absolute error
MAE = metrics.mean_absolute_error(y_test, y_pred)

# mean squared error
MSE = metrics.mean_squared_error(y_test, y_pred)

# root mean squared error
RMSE = np.sqrt(MSE)

In [136]:
print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  301.9635144409124
MSE:  157361.03941644565
RMSE:  396.6875841470787

Modelos Reducidos

In [137]:
features_a = df.drop(columns=['Rented Bike Count',"Dew point temperature(C)","Snowfall (cm)","Humidity(%)"])

X = df[features_a.columns]
y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

print("MAE: ", MAE)
print("MSE: ", MSE)
print("RMSE: ", RMSE)

MAE:  298.1351081914882
MSE:  156327.48811623655
RMSE:  395.3827109475534

In [138]:
from sklearn.model_selection import cross_val_score

# usar MSE - error cuadrático medio
scores = cross_val_score(model, X, y, cv=100, scoring='neg_mean_squared_error')
mse_scores = - scores

In [139]:
scores = cross_val_score(model, X, y, cv=100, scoring='neg_mean_absolute_error')

mae_scores = -scores

#print("MAE scores for each fold:", mae_scores)
print("Mean MAE:", np.mean(mae_scores))

Mean MAE: 308.90935206286684

In [140]:
rmse_scores = np.sqrt(mse_scores)

In [141]:
print(rmse_scores.mean())

392.06939423272917

In [142]:
print(mse_scores.mean())

167692.15533541818

In [143]:
import statsmodels.api as sm

y = df['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# agregar constante explíticamente
X_train = sm.add_constant(X_train)

# regresión usando mínimos cuadrados ordinarios (ordinary least squares - OLS)
md = sm.OLS(y_train, X_train).fit()

# resumen de resultados
print(md.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Rented Bike Count   R-squared:                       0.612
Model:                            OLS   Adj. R-squared:                  0.611
Method:                 Least Squares   F-statistic:                     368.8
Date:                Fri, 06 Sep 2024   Prob (F-statistic):               0.00
Time:                        16:43:17   Log-Likelihood:                -48726.
No. Observations:                6570   AIC:                         9.751e+04
Df Residuals:                    6541   BIC:                         9.771e+04
Df Model:                          28
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                   -1142.1650     39.678    -28.786      0.000   -1219.948   -1064.382
Hour                      -32.7942      2.922    -11.223      0.000     -38.522     -27.066
Temperature(C)             34.3792      1.331     25.837      0.000      31.771      36.988
Wind speed (m/s)           21.5287      5.586      3.854      0.000      10.579      32.478
Visibility (10m)            0.1910      0.010     19.557      0.000       0.172       0.210
Solar Radiation (MJ/m2)    15.0780      9.373      1.609      0.108      -3.297      33.453
Rainfall(mm)              -65.7037      4.363    -15.060      0.000     -74.256     -57.151
Seasons_Spring           -236.5135     17.580    -13.454      0.000    -270.976    -202.051
Seasons_Summer           -328.9380     18.273    -18.001      0.000    -364.760    -293.116
Seasons_Winter           -187.8360     16.081    -11.680      0.000    -219.361    -156.311
Holiday_No Holiday        133.2183     23.575      5.651      0.000      87.004     179.432
Functioning Day_Yes       964.6037     29.112     33.135      0.000     907.535    1021.672
Dia Semana_jueves          67.7315     18.813      3.600      0.000      30.852     104.611
Dia Semana_lunes           73.7999     18.671      3.953      0.000      37.200     110.400
Dia Semana_martes         102.1828     18.976      5.385      0.000      64.983     139.383
Dia Semana_miércoles      106.6679     18.671      5.713      0.000      70.067     143.269
Dia Semana_sábado          62.6662     18.890      3.317      0.001      25.636      99.696
Dia Semana_viernes        131.9731     18.591      7.099      0.000      95.529     168.417
Mes_agosto               -392.1847     16.952    -23.134      0.000    -425.417    -358.952
Mes_diciembre             -22.3984     14.760     -1.518      0.129     -51.332       6.535
Mes_enero                 -43.0294     15.602     -2.758      0.006     -73.614     -12.445
Mes_febrero              -122.4082     15.291     -8.005      0.000    -152.383     -92.433
Mes_julio                -204.6970     15.982    -12.808      0.000    -236.027    -173.367
Mes_junio                 267.9437     14.858     18.033      0.000     238.816     297.071
Mes_marzo                 -42.3584     25.412     -1.667      0.096     -92.174       7.457
Mes_mayo                   89.5938     25.662      3.491      0.000      39.288     139.899
Mes_noviembre             -34.6675     17.391     -1.993      0.046     -68.760      -0.575
Mes_octubre               -67.6903     17.010     -3.979      0.000    -101.036     -34.345
Mes_septiembre           -286.5197     22.160    -12.929      0.000    -329.961    -243.078
Momento Dia_Mañana        489.3914     22.990     21.288      0.000     444.324     534.458
Momento Dia_Noche        1227.5251     54.684     22.448      0.000    1120.327    1334.723
Momento Dia_Tarde         669.6380     39.832     16.811      0.000     591.554     747.722
==============================================================================
Omnibus:                      520.785   Durbin-Watson:                   2.054
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              824.026
Skew:                           0.611   Prob(JB):                    1.16e-179
Kurtosis:                       4.231   Cond. No.                     2.49e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.58e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.